*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --primary-color:#08c0dd;
    --secondary-color:#262431;
    --tertiary-color:#2f2c3d;

}
html,
body{
    font-family: 'Open Sans' ,sans-serif;
    background: var(--secondary-color);
    color: #fff;
    scroll-behavior: smooth;
    line-height: 1.6;
}
a{
    color: #fff;
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;

}
.container-sm{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
    
}

@media(max-width:1200px){
    
}
@media(max-width:992px){
   
  
}
@media(max-width:768px){
   

}
@media(max-width:576px){
   
}
