body{
    font-family: Arial,sans-serif;
}

.container{
    max-width: 600px;
    margin: 130px auto;
    position: relative;
    background: #f4f4f4;
    height: 600px;
}
.logo{
    max-width: 30%;
   transition: all 0.5s;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50% ,-50%);
}
.logo:hover{
    transform: rotate(-90deg);
    transform: translateX(-200px);
    transform: translateY(200px);
    transform: translate(-200px ,-200px);
    transform: skew(-30deg);
    transform: scale(.5);
    transform: rotate(190deg) scale(2);
}
