*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 900px;
    margin: 70px auto;
}
img{
    max-width: 100%;
   /* -webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-o-filter: grayscale(100%);
-ms-filter: grayscale(100%); */
    /* Black */
    /* filter: grayscale(100%); */
    /* filter: blur(5px); */
    filter: (200%);
}