*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:rgba(184, 142, 47, 1);

}
html{
    overflow-y: scroll;
}
body{
     font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}
a:hover{
    color: var(--primary-color);
}
ul{
    list-style: none;
}
img{
    width: 100%;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    
}


/* Navbar */
.mobile-menu{
    display: none;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #fff;
    height: 60px;
}

.navbar-container {
    max-width: 1286px;
    margin: 0 auto;
    
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-scroll{
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.navbar-logo{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.navbar-logo img{
    width: 38px;
    height: auto;
}

.navbar-logo h1{
    font-size: 28px;
    font-weight: 700;
    color: #000;
    letter-spacing: 0.5px;
}


.navbar-menu-list{
    display: flex;
    align-items: center;
    gap: 75px;
    list-style: none;
}
.navbar-menu-list-icon{
    display: flex;
    align-items: center;
    gap: 45px;
    margin-right: 2.875rem;
}
.navbar-menu-item a{
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}
.navbar-menu-list-icon i{
    color: rgba(0, 0, 0, 1);
    width: 28px;
    height: 28px;


}
.navbar-menu-item a:hover,
.navbar-menu-item-icon i:hover{
    color: var(--primary-color);
    cursor: pointer;
}

/* Mobile Menu */
.mobile-menu{
    display: none;
}
.navbar .mobile-menu-toggle{
    color: var(--primary-color);
    cursor: pointer;
}
.navbar .mobile-menu-items{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--primary-color);
    opacity: 0.98;
    padding: 2rem;
    text-align: center;
    transform: translateX(100px);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.navbar .mobile-menu-items.active{
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.navbar .mobile-menu-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Hero */

.hero {
    min-height:716.83px ;
    background: url("../Images/hero.jpg") center center/cover no-repeat;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 643px;
    background: #FFF3E3;
    padding: 56px 43px 43px 39px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 58px;
}

.hero__subtitle {
    display: block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #333333;
    margin-bottom: 8px;
}

.hero__title {
    font-size: 52px;
    font-weight: 700;
    line-height: 65px;
    color: #B88E2F;
    margin-bottom: 13px;
}

.hero__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: (51, 51, 51, 1);
    margin-bottom: 46px;
}

.hero__button {
    width: 222px;
    height: 74px;
    border: none;
    cursor: pointer;
    background: #B88E2F;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.hero__button:hover {
    opacity: 0.9;
}

/* range */
 .range {
    padding: 56px 126px;
}

.range__container {
    text-align: center;
}

.range__title {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.range__title-description {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: rgba(102, 102, 102, 1);

    margin-bottom: 62px;
}

.range__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}

.range__image img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.range__image-description {
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: rgba(51, 51, 51, 1);
}

/* Products */
   .product__title{
        text-align: center;
        align-items: center;
        padding: 32px 0px;
        font-family: Poppins;
        font-weight: 700;
        font-size: 40px;
        leading-trim: NONE;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;

        
       
    }
    .product__Cards{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 32px;
        padding: 100px;
       

    }
    .product__card{
        width: 285;
        height: 301;
         background: rgba(244, 245, 247, 1);
    }
    .product__image-box{
         position:relative;
         overflow: hidden;
         
    }
    .discount{
    position:absolute;
    top:20px;
    right:20px;
    width:48px;
    height:48px;
    background:#E97171;
    color:#fff;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:16px;
    font-weight:500;
}
.Product__content{
    padding: 16px 16px;
}
.Product__content h2{
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: start;
    color:rgba(58, 58, 58, 1);
    gap: 8px;

}
.Product__content p{
   
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color:rgba(137, 137, 137, 1);
    gap: 8px;
    margin-top: 8px;

}
.new-price{
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: start;

}

.old-price{
    color: rgba(176, 176, 176, 1);
    font-size:16px;
    text-decoration:line-through;
margin-left: 8px;
    
}
.product__button{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.button__product{
    padding: 12px 84px;
    color: rgba(184, 142, 47, 1);
    background: #FFF;
    border: 2px solid rgba(184, 142, 47, 1);
    cursor: pointer;
    font-family: Poppins;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.3s;
}

.product__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(58,58,58,.72);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.product__card:hover .product__overlay{
    opacity: 1;
    visibility: visible;
}

.add-cart{
    width: 202px;
    height: 48px;
    border: none;
    background: #fff;
    color: #B88E2F;
    font-weight: 600;
    cursor: pointer;
}

.overlay-actions{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}


/* Gallery */
.section__gallery{
   
}
.gallery__container{
        text-align: center;
        align-items: center;
        padding: 67px 0px 0px 0px;
    }
    .gallery__container p{
        font-family: Poppins;
        font-weight: 600;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: center;

    }
     .gallery__container h1{
        font-family: Poppins;
        font-weight: 700;
        font-size: 40px;
        leading-trim: NONE;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
        color: rgba(58, 58, 58, 1);

     }
    .gallery{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 100px;
    gap: 16px;
    max-height: 780px;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item1{
    grid-column: 1/2;
    grid-row: 1/5;
}

.item2{
    grid-column: 2 / 5;
    grid-row: 2 / 5;
}

.item3{
    grid-column: 1/3;
    grid-row: 5/9;
}
.item4{
    grid-column: 5/8;
    grid-row: 3/7;
}
.item5{
    grid-column: 3/5;
    grid-row: 5/8 ;
    
}
.item6{
    grid-column: 8/11;
    grid-row: 2/5;
}

.item7{
    grid-column: 11/13;
    grid-row: 1/5;
}

.item8{
    grid-column: 8/10;
    grid-row: 5/9;
}
.item9{
    grid-column: 10/ 13;
    grid-row: 5 / 8;
}

/* Footer */
.footer{
   
    margin:auto;
    
}

.footer__items{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:70px;
    padding: 100px 54px 38px 100px;
}

.footer__item h1{
   
    margin-bottom:50px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;

}

.footer__item h4{
    color:#9f9f9f;
    margin-bottom:55px;
    
}

.footer__item p{
    color: rgba(159, 159, 159, 1);
    line-height: 1.6;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0%;
   
}

.footer__item ul{
    list-style:none;
}

.footer__item ul li{
    margin-bottom:46px;
    font-size:18px;
    font-weight:500;
    color: rgba(0, 0,0, 1);
}

.footer form{
    display:flex;
    gap:10px;
}

.footer input{
    border:none;
    border-bottom:1px solid black;
    outline:none;
    padding-bottom:8px;
}

.footer button{
    border:none;
    background:none;
    border-bottom:1px solid black;
    font-weight:600;
    cursor:pointer;
}
.input::placeholder{
    font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: rgba(159, 159, 159, 1);

}

hr{
    margin:50px 0px;
    border: 1px solid rgba(217, 217, 217, 1)
}

.copyright{
    font-size:16px;
    font-weight: 400;
    line-height: 100%;
    color: rgba(0, 0, 0, 1);
    margin-top: 10px;
}

@media(max-width:992px){
     .main-menu,
    .main-menu-left{
        display: none;
    }

    .mobile-menu{
        display: block;
    }
    
    
    .navbar-menu-list{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 320px;
    }
    .navbar .mobile-menu-toggle{
        display: block;
        padding: 5px;
    }
    .navbar-menu-list-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 60px;
    }
     .product__Cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .add-cart{
        max-width: 140px;
    }
    .gallery{
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        max-height: none;
    }

    .item1, .item2, .item3, .item4,
    .item5, .item6, .item7, .item8, .item9{
        grid-column: auto !important;
        grid-row: auto !important;
    }
    .footer__items {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .footer {
        padding: 100px 20px 30px;
    }
    .copyright {
        text-align: center;
    }
}
@media (max-width: 768px) {
    .hero__content {
        width: 100%;
        margin: 0;
        padding: 30px;
    }

    .hero__title {
        font-size: 36px;
        line-height: 46px;
    }

    .hero__button {
        width: 100%;
    }
    /* Range */
     .range {
        padding: 40px 15px;
    }

    .range__images {
        grid-template-columns: 1fr;
    }

    .range__title {
        font-size: 24px;
    }

    .range__title-description {
        font-size: 16px;
    }

    .range__image-description {
        font-size: 20px;
    }
    .overlay-actions{
    font-size: 10px;
    
}
   
    .gallery{
        grid-template-columns: repeat(3, 1fr);
       
        max-height: none;
    }

    .item1, .item2, .item3, .item4,
    .item5, .item6, .item7, .item8, .item9{
        grid-column: auto !important;
        grid-row: auto !important;
    }
    
     .footer__items {
        grid-template-columns: repeat(1, 2fr);
        gap: 40px;
        padding: 20px 20px;
        margin-top: -60px;
    }

}
@media (max-width: 332px) {
    .hero {
        min-height: 100vh;
        padding: 20px 10px;
    }

    .hero__content {
        width: 100%;
        padding: 20px 15px;
        margin: 0;
        border-radius: 6px;
    }

    .hero__subtitle {
        font-size: 12px;
        letter-spacing: 2px;
    }

    .hero__title {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 15px;
    }

    .hero__text {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    .hero__button {
        width: 100%;
        height: 56px;
        font-size: 14px;
    }
    .product__title{
        font-size: 28px;
    }
    .product__Cards{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
}




